## import python library read data

In [5]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("data.csv")

In [8]:
%config IPCompleter.greedy=True

In [9]:
data

      City   Age     Sex Smoke  HappinessIndex Healthy
0   Mumbai  24.0    Male   Yes           241.0     Yes
1   London  80.0  Female    No           928.0      No
2  NewYork  38.0    Male   Yes             NaN     Yes
3  NewYork  22.0  Female   Yes           786.0     Yes
4  NewYork  36.0    Male   Yes           967.0     Yes
5   London   NaN  Female   Yes           665.0     Yes
6   Mumbai  17.0  Female    No           293.0      No
7  NewYork  28.0  Female    No           494.0     Yes
8   Mumbai  45.0  Female    No           707.0      No
9   London  29.0    Male   Yes           599.0      No

In [15]:
x=data.iloc[:,0:5].values
y=data.iloc[:,5].values

In [16]:
x

array([['Mumbai', 24.0, 'Male', 'Yes', 241.0],
       ['London', 80.0, 'Female', 'No', 928.0],
       ['NewYork', 38.0, 'Male', 'Yes', nan],
       ['NewYork', 22.0, 'Female', 'Yes', 786.0],
       ['NewYork', 36.0, 'Male', 'Yes', 967.0],
       ['London', nan, 'Female', 'Yes', 665.0],
       ['Mumbai', 17.0, 'Female', 'No', 293.0],
       ['NewYork', 28.0, 'Female', 'No', 494.0],
       ['Mumbai', 45.0, 'Female', 'No', 707.0],
       ['London', 29.0, 'Male', 'Yes', 599.0]], dtype=object)

In [17]:
y

array(['Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No'],
      dtype=object)

## Handling Missing Data

In [4]:
import scikitlearn

ModuleNotFoundError: No module named 'scikitlearn'

SyntaxError: invalid syntax (<ipython-input-5-bbdd4dda3afa>, line 1)